// Footer
footer
  .container.content
    .row
      // Contact info
      .col-md-3
        p
          | P (+1) 917-284-3481
          br
          | F (+1) 917-PLS-DONT
          br
          | M contact@vibeheavy.com
      .col-md-3
        p
          | VIBHEAVY
          br
          | 1201 Third Ave. Suite 150
          br
          | Seattle, WA 98101
      .col-md-6.text-right
        // Social links
        ul.social
          li
            a.fa.fa-twitter(href='https://www.twitter.com/vibeheavy')
          li
            a.fa.fa-facebook(href='https://www.facebook.com/vibeheavy')
          li
            a.fa.fa-instagram(href='https://www.instagram.com/vibeheavy')
          li
            a.fa.fa-behance(href='https://www.behance.net/VIBEHEAVY')
        // Copyright message
        .copyright 2019 © VIBEHEAVY - All rights reserved.
