// Header
header
  .container
    // Branding
    a.brand(href='index.html')
      img.dark-brand.logo(alt='', src='images/logo-black.png')
      img.light-brand.logo(alt='', src='images/logo-white.png')
    // Menu
    .menu
