.body-overlay
// Menu
.nav-container
  ul.nav
    li
      a(href='/') Home
    li
      a(href='/about') About Us
    li
      a(href='/portfolio') Portfolio
    li
      a(href='/services') Services
    li
      a(href='/contact') Contact Us
    li
      img.wdds(alt='', src='images/wdds-gray.png')
  .copyright 2019 © VIBEHEAVY. All rights reserved.
  .exit
  ul.social
    li
      a.fa.fa-twitter(href='https://www.twitter.com/vibeheavy')
    li
      a.fa.fa-facebook(href='https://www.facebook.com/vibeheavy')
    li
      a.fa.fa-instagram(href='https://www.instagram.com/vibeheavy')
    li
      a.fa.fa-behance(href='https://www.behance.net/VIBEHEAVY')
// Wrapper
#wrapper.container-fluid.smooth-transition
  // Header
  header
    .container
      // Branding
      a.brand(href='index.html')
        img.dark-brand.logo(alt='', src='images/logo-black.png')
        img.light-brand.logo(alt='', src='images/logo-white.png')
      // Menu
      .menu
