extends layout

block content
  // Header
  header
    .container
      // Branding
      a.brand(href='/')
        img.dark-brand.logo(alt='', src='images/logo-black.png')
        img.light-brand.logo(alt='', src='images/logo-white.png')
      // Menu
      .menu
  // Page Title Hero
  section.hero.dark.vcenter
    // Background
    .bg.faded.parallax(style='background-image: url(../images/logo-pattern.png);')
    .container.text-center
      // Content
      h1 #{title}
  // Some section
  section.gray
    .container.content
      .row
        .col-md-6
          h1 Our Tribe
          p
            | We couldn't have assembled a better team of proven innovators who have executed at a high level for many years across many industries.
    .container.content
      .row
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/arif.jpg')
            h3 Arif Gursel
            p Founder & Chief Vibe Officer
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/lasean.jpg')
            h3 LaSean Smith
            p Creative Director - Film
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/toussaint.jpg')
            h3 Toussaint Werner
            p Creative Director - Design & Branding
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/ron.jpg')
            h3 Ron Specs
            p Creative Director - Photography
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/willie.jpg')
            h3 Willie Esco
            p Creative Director - Fashion
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/keturah.jpg')
            h3 Keturah Drake
            p Head of Design - Fashion
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/daniel.jpg')
            h3 Daniel Barnes
            p Head of Design - Animation & Motion
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/daniel.jpg')
            h3 David Harris
            p UX Researcher
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/daniel.jpg')
            h3 Enjoli Izidor
            p Designer
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/daniel.jpg')
            h3 Luke V
            p Filmmaker & Videographer
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/daniel.jpg')
            h3 TBD
            p Filmmaker & Videographer
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/daniel.jpg')
            h3 Zoe Moore
            p Events
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/daniel.jpg')
            h3 TEN Brown
            p Culture + Events
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/daniel.jpg')
            h3 Hassan Sharif
            p Artist Management + Event & Tour Logistics
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/daniel.jpg')
            h3 Dave Ghet
            p Audio Curation + Artist Management
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/daniel.jpg')
            h3 Gail W. Boyd
            p Legal + Artist Management + Events
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
        .col-md-4
          // Profile
          .profile.item
            img(alt='', src='../images/portraits/hiring.jpg')
            h3 Join Our Tribe
            p Bring Your Skills
            ul.social
              li
                a.fa.fa-linkedin(href='#')
              li
                a.fa.fa-instagram(href='#')
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')

